/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff;  font-size:14px; font-family:  "microsoft yahei", sans-serif, arial; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
html,body{height: 100%;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

*{box-sizing: border-box;}
/*--------------------------------*/
html,body { 
  font: 12px/1.5 "microsoft yahei","黑体",tahoma, Srial, helvetica, sans-serif; height:100%; 
}
a{text-decoration: none;}
ul,li{list-style-type: none;}
/*滚动条*/
.mui-scrollbar {
            display: none !important;
        }
@font-face {
font-family: STXIHEI;
src: url('../font/STXIHEI.ttf');
} 
.text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.pull-right{float:right;}
.pull-left{float:left;}
.hover{ opacity: .8; }
.flex-wrap{ display: -webkit-box;   display: -webkit-flex;  display: flex; }
.flex-con{-webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}