/*base*/
button {
	border:none;
	padding:0;
	background: none;
}
.text-over {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.flex1 {
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.base-width {
	width: 1200px;
	margin: 0 auto;
}
/*base end*/
.color-body  {
	background: #efefef;
}
header {
	height: 63px;
	background: #FFFFFF;
	border-bottom: 1px solid #f7f7f7;
}
.header >div:first-child,
.header> div:last-child {
	padding: 10px 0;
}
.user-name {
    font-size: 16px;
    color: #2f2f2f;
    line-height: 44px;
    padding-right: 27px;
}
.exit-btn {
    background: none;
    font-size: 16px;
    color: #2f9eee;
    text-decoration: underline;
    cursor: pointer;
}

/*manu-------------*/
.manu-list {
	margin-left: 158px;
}
.manu-list>li {
	display: inline-block;
	min-width: 110px;
	/*padding: 0 24px;*/
	font-size: 16px;
	/*border-top: 4px solid #FFFFFF;*/
	line-height: 58px;
}
.manu-list>li>a {
	text-align: center;
	display: block;
	width: 100%;
	color: #3c3c3c;
	text-decoration: none;
}
.manu-list> li.active {
	border-top: 4px solid #5eb2e4;
}
.manu-list> li.active a{
	border:1px solid #F7F7F7;
	border-top: none;
	color: #5eb2e4;
	text-align: center;
}
.manu-list>div{
	transform: translateX(200px);
}
/**/
.base-content,
.shadow-box {
	margin-top: 43px;
	background: #FFFFFF;
	min-height: 600px;
	box-shadow: 0 1px 4px #a5a5a5;
	margin-bottom: 40px;
	position: relative;
}
.no-scenic-area-inf {
	width: 457px;
	margin: 55px auto 0;
	display: none;
}
.no-scenic-area-inf>img {
	display: block;
	
}
.no-scenic-area-inf>p {
	display: block;
	font-size: 26px;
	text-align: center;
	margin-top: 38px;
	color: #666;
}
.new-bulid-btn {
	display: block;
	width: 240px;
	height: 60px;
	margin:30px auto 0 ;
	font-size: 28px;
	color: #FFFFFF;
	background: #5EB2E4;
	border-radius: 6px;
}
.scenic-area-title {
	background: #f3f3f3;
	color: #333333;
	font-size: 16px;
	padding: 20px 0 18px 20px;
}
.scenic-area-edit-list {
	margin-top: 44px;
}
.scenic-area-edit-list>li {
	position: relative;
	width: 514px;
	height: 352px;
	float: left;
	border: 1px solid #f2f2f2;
	box-shadow: 0 1px 8px rgba(0,0,0,.07);
}
.scenic-area-edit-list>li:nth-child(odd) {
	margin: 0  70px 45px 48px;
}
.scenic-area-edit-list>li:nth-child(even) {
	margin: 0  48px 45px 0;
}
.scenic-area-li-link,
.p-list-hover-box>a{
	display: block;
	height: 100%;
	padding-top: 57px;
}
.scenic-area-li-link img{
	display: block;
	margin: 0 auto 22px;
}
.scenic-area-li-link >h5 {
	font-size: 28px;
	color: #2f2f2f;
	text-align: center;
	margin-bottom: 17px;
	text-decoration: none;
}
.scenic-area-li-link >p {
	font-size: 18px;
	color: #666666;
	text-align: center;
	padding: 0 110px;
	text-decoration: none;
}
.p-list-hover-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*display: none;*/
	background:rgba(67,67,67,0.8) ;
	transition: all 1s ease;
	opacity: 0;
}
.p-list-hover-box >a{
	padding-top: 0;
}
.p-list-hover-box >a img{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.scenic-area-edit-list>li:hover .p-list-hover-box {
	/*display: block;*/
	opacity: 1;
}

/*scenic-list------------*/

.quanzhong {
	width: 137px;
}
.list-title {
	font-size: 16px;
	color: #333333;
	height: 54px;
	padding: 13px 49px 11px 20px;
	margin-bottom: 0;
}
.bulid-scenic-spot {
	display: block;
	width: 90px;
	height: 30px;
	background: #5eb2e4;
	border-radius: 4px;
	font-size: 15px;
	color: #FFFFFF;
}
.activity-list,
.spot-list {
	width: 100%;
	border: 1px solid #eeeeee;
	table-layout: fixed;
}
.activity-list th ,
.spot-list th {
	border: 1px solid #eeeeee;
	background: linear-gradient(to bottom ,#fff,#f5f5f5 );
	box-shadow: 0 2px 0 #e4e3e3;
	font-size: 17px;
	color: #666666;
    padding: 4px 16px 3px 16px;
}
.activity-list th:nth-child(1) {
	width: 154px;
}
.activity-list th:nth-child(2) {
	width: 209px;
}
.activity-list th:nth-child(3) {
	width: 289px;
}
.activity-list th:nth-child(4) {
	width: 134px;
}
.activity-list th:nth-child(5) {
	width: 94px;
}
.activity-list td ,
.spot-list td {
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: none;
	border-top: none;
	height: 32px;
	padding:0 16px 0 16px ;
	font-size: 17px;
	color: #666666;
}
.activity-list tbody tr:nth-child(odd) ,
.spot-list tbody tr:nth-child(odd) {
	background: #f4fafd;
	/*height: 32px;*/
}
.text-center {
	text-align: center;
}
.edit-grp {
	position: relative;
}
.edit-grp button,
.edit-grp a,
.filter-btn  {
	color: #2f9eee;
	text-decoration: underline;
	margin-right: 30px;
}
.edit-grp button {
	margin-right: 55px;
}
.sorting-list {
	position: absolute;
	z-index: 2;
	left: 216px;
	top: 27px;
	width: 52px;
	display: none;
	box-shadow: 0 2px 2px rgba(175,164,160,.6);
}

.sorting-list>li {
	font-size: 16px;
	color: #999999;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: #fff;
	cursor: pointer;
}
.sorting-list>li:hover {
	background: #70c1f1;
	color: #fff;
}

/*------------short-list-*/
.scenic-area-list {
	display: none;
}
.short-spot-list th:nth-child(1) {
	width: 214px;
}
.short-spot-list th:nth-child(2) {
	width: 337px;
}
.short-spot-list th:nth-child(3) {
	width: 238px;
}
.short-spot-list th:nth-child(4) {
	width: 402px;
}
/*edit-info----------*/
.scenic-area-edit-info {
	display: none;
}
.max-hover-btn {
	text-align: center;
	width: 100%;
}
.shadow-box {
	min-height: auto;
	margin-bottom:14px;
	margin-top: 0;
}
.shadow-box-first{
	margin-top: 43px;
}
.scenic-area-inf-box,
.activity-inf-box {
	padding:  26px 250px 30px 117px;
}
.lg-title {font-size: 26px;}
.scenic-edit-tips {
	background:#fffeed url(../images/tip.png) no-repeat 17px center;
	border: 1px solid #ebe9d1;
	border-radius: 4px;
	padding-left: 49px;
	padding-right: 20px;
	height: 58px;
	line-height: 58px;
	font-size: 18px;
	color: #ff6600;
	margin-bottom: 29px;
    margin-right: 3px;
}
.input-box>label,
.default-notice>label,
.input-notice>label,
.input-box>div ,
.default-notice>div,
.input-notice>div {
	display: inline-block;
	vertical-align: top;
}
.input-box>label,
.default-notice>label,
.input-notice>label,
.inside-label {
	width: 145px;
	text-align: right;
	padding-right: 25px;
	line-height: 48px;
	margin-bottom: 25px;
	font-size: 20px;
	color: #333333;
	font-weight: normal;
}
.input-box>div ,
.default-notice>div,
.input-notice>div {
	width: 682px;
}
.input-box input[type=text] ,
.input-box select {
	height: 48px;
	border: 1px solid #cccccc;
	font-size: 18px;
	padding-left: 14px;
}
.in-name {
	width: 420px;
}
.base-sel {
	width: 138px;
}
.inside-label{
	width: 127px;
}
.inside-label-last {
	width: 124px;
}
.updata-box {
	border: 1px dashed #cdcdcd;
	height: 323px;
	margin-bottom: 15px;
}
.updata-img {
	display: block;
	margin: 0 auto;
}
.updata-tip {
	text-align: center;
	font-size: 16px;
	color: #666666;
	margin-top: 28px;
}
.add-scene-list >li {
	position: relative;
	width: 215px;
	height: 221px;
	float: left;
	margin-right: 20px;
	margin-bottom: 14px;
	box-shadow: 0 0 9px rgba(0,0,0,0.2);
	position: relative;
	overflow: hidden;
}
.add-scene-list >li:nth-child(3n) {
	margin-right: 0;
}
.add-scene-list >li >img {
	display: block;
	width: 100%;
	height: 175px;
}
.del-btn-box {
	position: absolute;
	top: 0;
	width: 100%;
	height: 32px;
	background: rgba(0,0,0,.6);
	transition: all 0.4s ease;
	transform: translateY(-34px);
}
.add-scene-list >li:hover .del-btn-box {
	transform: translateY(0);
}
.del-btn-box >button {
	background: none;
	color: #FFFFFF;
	font-size: 14px;
	padding: 7px 15px;
}
.add-scene-list >li .text-over {
	padding: 15px 0 15px 17px;
	color: #3d3d3d;
	margin-bottom: 0;
	width: 130px;
}
.rename-btn {
	display: none;
	position: absolute;
	right: 7px;
	bottom: 11px;
	width: 72px;
	height: 23px;
	border: 1px solid #cdcdcd;
	border-radius: 12px;
	background: none;
	font-size: 12px;
	color: #9e9c9c;
}
.rename-btn img {
	padding-right: 5px;
}
.add-scene-list >li:hover .rename-btn {
	display: block;
}
.url {
	width: 454px;
	margin-right: 14px;
}
.link-type {
	font-size: 20px;
	color: #2F9EEE;
	text-decoration: underline;
	margin-right: 10px;
}
.link-type-last {
	margin-right: 0;
}

.check-name {
	vertical-align: text-bottom;
	font-size: 18px;
	color: #5f5f5f;
	margin-right: 54px;
}
.textarea-inp {
	width:682px ;
	height: 246px;
	padding: 15px 17px;
	font-size: 18px;
	margin-bottom: 22px;
}
.textarea-number{
	position: absolute;
	bottom: 37px;
	right: 17px;
	font-size: 18px;
	color: #999999;
}
.updata-music-list>li{
	height: 40px;
	line-height: 40px;
	padding-left: 35px;
	background: url(../images/music.png) no-repeat 11px center;
}
.updata-map-list >li {
	background: url(../images/map-list.png) no-repeat 11px center;
}
.updata-music-list>li.updating {
	background: #f4fafd url(../images/music.png) no-repeat 11px center;
	border-bottom: 1px solid #e9e9e9;
}
.updata-map-list>li.updating {
	background: #f4fafd url(../images/map-list.png) no-repeat 11px center;
	border-bottom: 1px solid #e9e9e9;
}
.updata-music-list>li>p,
.updata-music-list>li>div {
	display: inline-block;
	vertical-align: middle;
}
.updata-music-list>li>p {
	width: 150px;
	font-size: 16px;
	color: #666666;
	padding-right: 10px;
	margin-bottom: 0;
}
.gress-box {
	width: 280px;
	height: 9px;
	border-radius: 9px;
	background: #ceedff;
	visibility: hidden;
}
.gress-box >div{
	height: 9px;
	border-radius: 9px;
	background: #5eb2e4;
}
.music-btn-grp {
	width: 207px;
	text-align: right;
}
.music-btn-grp button{
	cursor: pointer;
}
.set-default {
	color: #999a9a;
	font-size: 16px;
	margin-right: 15px;
}
.delect-btn ,
.edit-btn {
	width: 12px;
	height: 12px;
	background: url(../images/close.png) no-repeat center;
	margin-right: 16px;
}
.edit-btn {
	background: url(../images/edit.png) no-repeat center;
}
.updating .gress-box {
	visibility: initial;
}
.updating .set-default {
	color: #5eb2e4;
}
.updating .delect-btn {
	background: url(../images/close-ac.png) no-repeat center;
}
.updating .edit-btn {
	background: url(../images/edit-ac.png) no-repeat center;
}
.template-list >li {
	float: left;
	width:256px;
	height:520px;
	margin-right: 54px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.template-list >li:nth-child(3) {
	margin-right: 0;
}
.template-list >li img {
	display: block;
	width: 100%;
}
.template-list >li.active img{
	border: 3px solid #2f9eee;
	border-radius: 4pxs;
}
.template-btn-grp {
	padding: 14px 0;
}
.template-btn-grp button,
.activity-btn-grp button {
	width: 90px;
	height: 34px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	font-size: 16px;
	color: #2f2f2f;
	background: linear-gradient(#fbfbfa 55%,#e5e5e5 100%);
}
.template-selected {
	padding: 23px 0;
	text-align: center;
	font-size: 18px;
	color: #2f2f2f;	
	margin-bottom: 0;
	display: none;
}
.label-addr {
	width: 77px;
	padding-left: 9px;
	padding-right: 0;
	text-align: left;
}
.addr-input,
.map ,
.max-input  {
	width: 682px;
	margin-bottom: 26px;
}
.map {
	height: 299px;
	border:1px solid #cccccc;
}
.sub-button-grp {
	margin-top: 50px;
	margin-bottom: 54px;
}
.sub-button-grp button {
	width: 112px;
	height: 36px;
	border-radius: 4px;
	font-size: 16px;
}
.save-btn {
	background: #5eb2e4;
	margin-right: 28px;
	color: #fff;
}
.cancel-btn {
	background: #f5f5f5;
	border: 1px solid #d3d3d3;
	color: #5f5f5f;
}
.filter-btn {
	font-size: 17px;
	margin-top: 6px;
}
.filter-box {
	display: none;
	position: absolute;
	left: 208px;
	top: 55px;
	width: 825px;
	height: 64px;
	background: linear-gradient(#ffffff,#f5f5f5);
	box-shadow: 0 1px 4px #dedcdc;
	z-index: 9;
	padding: 13px 0 0 24px;
	overflow: hidden;
	/*transition: all 1s ease;*/
}
.filter-box label {
	font-size: 18px;
	color: #333333;
	font-weight: normal;
	margin-right: 14px;
	margin-left: 10px;
}
.filter-box  select {
	height: 38px;
	border: 1px solid #cccccc;
	width: 143px;
	font-size: 16px;
}
.filter-box  select:last-child {
	width: 193px;
}



/*-------activity-*/
.activity-edit {
	display: none;
}
.activity-sm-input {
	width: 419px;
}
.activity-btn-grp {
	margin-top: 9px;
}
.activity-btn-grp button {
	width: 56px;
	height: 26px;
	font-size: 11px;
}
.activity-view-box {
	width: 162px;
	height: 162px;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.activity-view-box>img{
	display: block;
	width: 100%;
	height: 100%;
}


/*headlines-------*/
.headlines-box {}
.head-title-box {
	padding: 18px 0 18px 15px;
	background: #f7f7f7;
	color: #333333;
	font-size: 26px;
}
.head-title {
	background: url(../images/arrow-right.png) no-repeat 3px center;
	padding-left: 28px;
	margin-bottom: 0;
}
.h-t-active {
	background: url(../images/arrow-down.png) no-repeat 0 center;
}
.head-edit-btn,
.head-del-btn {
	color: #5eb2e4;
	font-size: 24px;
}
.head-edit-btn {margin-right: 32px;}
.head-del-btn {margin-right: 23px;}
.head-list-detial {
	background: #fff;
	padding: 33px 60px;
}
.head-list-detial>h5{
	font-size: 26px;
	color: #666666;
}
.head-list-detial>h5 span{
	color: #333333;
}
.from {
	padding-right: 50px;
}
.head-list-detial>div {
	background:#fafafa ;
	padding: 34px 30px  35px 32px;
}
.head-list-detial>div p{
	font-size: 18px;
	color: #333333;
	line-height: 1.8;
}
/*notice-box------*/
.notice-box{
	display: none;
}
.close-tip {
	cursor: pointer;
	margin-top: 19px;
}
.input-box .default-notice {
	width: 100%;
}
.notice-input-confirm,
.notice-input-cancel {
	color: #2f9eee;
	font-size: 20px;
	text-decoration: underline;
	margin-left: 22px;
}
.textarea-sm {
	height: 199px;
}
.textarea-xs {
	height: 167px;
}
.add-totice {
	display: block;
	width: 682px;
	height: 40px;
	background: #f4fafd;
	box-shadow: 0 1px 1px #e9e9e9;
	color: #5EB2E4;
	font-size: 16px;
}
.input-box .input-notice {
	width: 100%;
	display: none;
}
.notice-input-title {
	width: 556px;
}

/*sceic-point-edit------*/
.custom-next {
    width: 28px;
    height: 52px;
    background: url(../images/scroll-r.png) no-repeat;
    top: auto;
    bottom: 103px;
    right: -50px;
}

.custom-prev {
    width: 28px;
    height: 52px;
    background: url(../images/scroll-l.png) no-repeat;
    top: auto;
    bottom: 103px;
    left: -50px;
}
.cover-box {
	position: absolute;
	width: 100%;
	height: 175px;
	top:0 ;
	left: 0;
	color: #fff;
	font-size: 29px;
	background: rgba(0,0,0,.6);
	text-align: center;
	line-height: 175px;
}
.modal-box{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	background: rgba(0,0,0,.6);
	display: none;
}
.modal-cont {
	position: relative;
	/*top: 50%;*/
	width: 380px;
	height: 185px;
	background: #FFf;
	border-radius: 4px;
	margin: 200px auto 0;
	z-index: 999;
	box-sizing: border-box;
	padding: 39px 51px 32px;
}
.modal-cont img {
	vertical-align: top;
	margin-right: 10px;
}
.modal-cont span {
	font-size: 24px;
	color: #333333;
}
.modal-confirm,
.modal-cancel {
	width: 124px;
	height: 52px;
	background: #55afdc;
	border-radius: 4px;
	font-size: 22px;
	color:#fff ;
	margin-top: 34px;
}
.modal-confirm{margin-right: 25px;}
.modal-cancel {
	background: #fff;
	border: 1px solid #d9d9d9;
	color: #333333;
}

/*checkbox*/
input.checkbox-type:after {
	content: " ";
	display: block;
	width: 17px;
	height: 17px;
	border: 1px solid #c0c0c0;
	background: #FFF;
	visibility: initial;
}
input.checkbox-type:checked:after {
	background: #fff url(../images/raido.png) no-repeat center;
}
input.checkbox-type {
	visibility: hidden;
	width: 17px;
	height: 17px;
	margin-top: 18px;
	margin-right: 8px;
}

input.checkbox-type-hui {
	visibility: hidden;
	width: 17px;
	height: 17px;
	margin-right: 8px;
}
input.checkbox-type-hui:after {
	content: " ";
	display: block;
	width: 17px;
	height: 17px;
	background: #FFF url(../images/list-check.png) no-repeat center;
	visibility: visible;
}
input.checkbox-type-hui:checked:after {
	background: #fff url(../images/list-checked.png) no-repeat center;
}
/*.check-box {
	position: relative;
	display: inline;
}
.check-box input {
	visibility: hidden;
	background: transparent;
	border: none;
	width: 18px;
	height: 18px;
	z-index: 999;
	position: relative;
	margin:6px  0 0 0; 
}

.check-box input:checked + label {
	background: #fff url(../images/list-checked.png) no-repeat center;
}
.check-box input +label {
	cursor: pointer;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	z-index: 2;
	margin:6px  0 0 0; 
	background: #FFF url(../images/list-check.png) no-repeat center ;
}*/

/*.text-center input:checked + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	
}*/

/*---custom----*/

.switch-btn {position: relative;margin: 0; display: block; vertical-align: top; width: 46px; height: 25px; border-radius: 18px; cursor: pointer;}
.checked-switch {position: absolute; top: 0; left: 0; opacity: 0;}
.text-switch {background-color: #bfbfbf;  border-radius: inherit; color: #fff; display: block; font-size: 15px; height: inherit; position: relative; text-transform: uppercase;}
.text-switch:before, .text-switch:after {position: absolute; top: 50%; margin-top: -.5em; line-height: 1; -webkit-transition: inherit; -moz-transition: inherit; -o-transition: inherit; transition: inherit;}
.text-switch:before {content:" "; right: 11px;}
.text-switch:after {content:" "; left: 11px; color: #FFFFFF; opacity: 0;}
.checked-switch:checked ~ .text-switch {background-color: #64bd63; border: 1px solid #64bd63;}
.checked-switch:checked ~ .text-switch:before {opacity: 0;}
.checked-switch:checked ~ .text-switch:after {opacity: 1;}
.toggle-btn {background: #ffffff; border-radius: 100%; height: 23px; left: 1px; position: absolute; top: 1px; width: 23px;}
.toggle-btn::before {width: 23px;height: 23px;color: #aaaaaa; content: " "; display: inline-block;  letter-spacing: -2px; padding: 4px 0; vertical-align: middle;}
.checked-switch:checked ~ .toggle-btn {left: 22px;}
 .text-switch, .toggle-btn {transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease;}
.lg-switch {
	width: 64px;
	height: 35px;
    margin-top: 7px;
}
.lg-switch  .toggle-btn {
	width: 27px;
	height: 27px;
	top: 4px;
	left: 4px;
	background: #fff url(../images/no-select.png) no-repeat center;
}
.lg-switch  .checked-switch:checked ~ .toggle-btn {
	left: 32px;
	background: #fff url(../images/selected.png) no-repeat center;
}

/*progress--*/
.progress-box {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 175px;
    background: rgba(0,0,0,0.6);
    z-index: 99;
}
.progress-bg {
	position: relative;
	left: 67px;
	top: 47px;
	width: 80px;
	height: 80px;
    background: none;
    border: 10px solid rgba(255,255,255,.3);
    border-radius: 50%;
}
.pro-number {
   position: absolute;
    left: 0;
    top: 18px;
    color: #fff;
    font-size: 20px;
    width: 60px;
    height: 26px;
    text-align: center;
    margin-bottom: 0;
}
.progress-left,
.progress-right {
	width: 40px;
	height: 80px;
	position: absolute;
	top:-10px;
	overflow: hidden;
}
.progress-left{
	left: -10px;
}
.progress-right {
	right: -10px;
	display: none;
}
.circleProgress{
	width: 80px;
	height: 80px;
	border:10px solid transparent;
	border-radius: 50%;
	position: absolute;
	top:0;
}

.leftcircle{
	border-bottom:10px solid #fff;
	border-left:10px solid #fff;
	left:0;
	transform: rotate(225deg);
	transition: all 0.1s ease;
}
.rightcircle{
	border-top:10px solid #fff;
	border-right:10px solid #fff;
	right:0;
	transform: rotate(225deg);
	transition: all 0.4s ease 0.2s;
}

.leftcircle:after {
	content: " ";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	top: 51px;
    left: 49px;
	border-radius: 50%;
	background: #fff;
	/*visibility: hidden;*/
}

.rightcircle:after {
	content: " ";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0px;
    left: 1px;
	border-radius: 50%;
	background: #fff;
}
.rename-input {
	width:300px;
    height: 40px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
}


/*.modal*/
.rename-input {
	display: block;
	width:412px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    color: #333333;
    font-size: 20px;
}
.rename-body {
    padding-bottom: 17px;
}
.rename-body >h5 {
	font-size: 28px;
	color: #333333;
	text-align: center;
	margin-top: 23px;
	margin-bottom: 15px;
}

.rename-body >p {
	font-size:22px ;
	color: #666666;
	text-align: center;
	margin-bottom: 35px;
	line-height: 1;
}
.rename-footer button {
	display: block;
	width: 49%;
	height: 74px;
	float: left;
	font-size: 24px;
	border: none;
	background: none;
}
.rename-footer {padding: 0;}
.rename-footer button:first-child {
	color: #666666;
	border-right: 1px solid #f1f1f1;
}
.rename-footer button:last-child {
	color: #5ab1e6;
}
.rename-footer button:hover ,
.rename-footer button:active ,
.rename-footer button:focus {
	background: none ;
	outline: none;
}


/*tongji*/
.tongji-title {
	font-size: 18px;
	color: #2f2f2f;
	margin-bottom: 0;
	padding: 0 49px 0 20px;
	line-height: 54px;
}
.tongji-title span {
	font-size: 17px;
	color: #666666;
}
.tongji-list {
	width: 100%;
    /*border: 1px solid #eeeeee;*/
    border: none;
    table-layout: fixed;
    margin-bottom: 50px;
}
.tongji-list th{
	border: 1px solid #eeeeee;
	border-right:1px solid #dddddd ;
	background: linear-gradient(to bottom ,#fff,#f5f5f5 );
	box-shadow: 0 2px 0 #e4e3e3;
	font-size: 17px;
	color: #2f2f2f;
    padding: 4px 16px 3px 16px;
    height: 32px;
}
.tongji-list th:nth-child(1) {
	width: 206px;
	padding-left: 49px;
}
.tongji-list th:nth-child(2) {
	width: 159px;
}
.tongji-list th:nth-child(3) {
	width: 152px;
}
.tongji-list th:nth-child(4) {
	width: 157px;
}
.tongji-list th:nth-child(5) {
	width: 173px;
}
.tongji-list th:nth-child(6) {
	width: 150px;
}
.tongji-list td{
	height: 34px;
	color: #666666;
	font-size: 17px;
	padding-left: 16px;
	border: 1px solid #f2f2f2;
	border-right:1px solid #dddddd ;
}
.tongji-list td.blue-name ,
.tongji-list td.rihuanbi,
.tongji-list td.zhouhuanbi{
	color: #52b2f8;
	border: none;
	border-right:1px solid #dddddd ;
	padding-left: 49px;
}
.tongji-list td.zengjia {
	color: #ff5653;
}

.tongji-list td.jianshao {
	color: #6ab393;
}
.tongji-list td.rihuanbi,
.tongji-list td.zhouhuanbi {
	color: #666666;
}
.tongji-list td.zhouhuanbi {
	border-bottom: 1px solid #f2f2f2;
}
.even-line {
	background: #f7fcff;
}
.tongji-list tbody tr:last-child{
	border-bottom: 3px solid #dedede;
}
