/*base*/
html {
	height: 100%;
}
button {
	border:none;
	padding:0;
	background: none;
}
.text-over {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.flex1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.clearfix {
	
}
.clearfix:before,
.clearfix:after {
	display: table;
  content: " ";
}
.clearfix:after {
	clear: both;
}

/*base end*/
.head {
	width: 100%;
	height: 3.167rem;
	height: 5%;
	padding-top:1.71%;
	position: relative;
	z-index: 9;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.back-btn-base {
	background: url(../images/back-btn.png) no-repeat left center;
	background-size: auto 1.5rem;
	padding-left: 1.5rem;
	color: #fff;
	font-size: 1.25rem;
	margin: 0 3% 0 2.8%;
}
.headlines-box {
	/*-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;*/
	 background: rgba(255,255,255,.15);
    border-radius: 0.32rem;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 3.25%;
    width: 100%;
}
.headlines-box >div {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	/*padding: 2.5% 0.71rem;*/
	padding: 0.5rem 0.71rem;

}
.headlines-box>div  h5 {
	background: url(../images/toutiao.png) no-repeat left center;
	background-size: auto 1.5rem;
	padding-left: 1.25rem;
	color: #fff;
	font-size: 1.25rem;
	font-family: "黑体";
	line-height: 1.75rem;
	padding-right: 0.7rem;
	border-right: 0.04rem solid #fff;
}
.more-btn-base {
	width: 5.66%;
	margin: 0 4% 0 3%;
	background: url(../images/more-manu.png) no-repeat center center;
	background-size: 100% auto;
}

.btn-grp-l,
.btn-grp-r{
	position: absolute;
	z-index: 99;
	top: 8.16%;
	display: block;
}
.btn-grp-l{
	left: 3.29%;
	width: 9.07%;
}
.btn-grp-r {
	right: 2.13%;
	width: 9.72%;
}
.btn-grp-l a,
.btn-grp-r>a ,
.btn-grp-r>button{
	display: block;
	width: 100%;
	margin-bottom:1rem;
}
.btn-grp-l a >img ,
.hongbao-link >img {
	display: block;
	width: 100%;
}
.music-box {
	position: relative;
	margin-bottom: 0.5rem;
}
.music-list {
	position: absolute;
	left: 100%;
	top: 50%;
	z-index: 99;
	background: rgba(0,0,0,0.46);
	padding: 0.8rem 0;
	border-radius: 0.4rem;
	transition: all 1s ease;
	max-width: 700%;
}
.music-list li{
	color: #fff;
	max-width: 100%;
	font-size: 1.25rem;
	padding-left: 1rem;
	padding-right: 0.75rem;
	margin-bottom: 1rem;
	text-align: left;
	background: url(../images/music-li.png) no-repeat left center /auto 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-list li:last-child {
	margin-bottom: 0;
}
.music-list li.active{
	background: url(../images/music-ac.png) no-repeat left center /auto 1rem;
}
.music-anim {
	transform: translateX(-500px);
}
.base-bottom {
	width: 100%;
	/*max-height: 20rem;*/
	background: rgba(255,255,255,.86);
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
	position: absolute;
	z-index: 9999;
	bottom: 0;
	/*padding: 0 4.2%;*/
	box-sizing: border-box;
}
.scene-bottom {
	/*height: 25.84%;*/
	overflow: hidden;
}
.swiper-down-btn {
	width: 2.785rem;
	height: 0.415rem;
	background: url(../images/bottom-btn.png) no-repeat center /100% auto;
	display: block;
	margin:0 auto 0;
}
.swiper-down-btn>img {
	display: block;
	width: 100%;
	height: auto;
}
.swiper-up-btn {
	// width: 8%;
	// height: 0.8rem;
	width: 2.785rem;
	height: 0.415rem;	
	/*background: url(../images/swiper-up.png) no-repeat center /100% 100%;*/
	display: block;
	margin:0 auto 0;
}
.swiper-container {
	max-height: 9rem;
	margin-top: 1.167rem;
	transition: all .3s ease;
	/*border-bottom: 0.08rem solid #d4d3d1;*/
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
#toutiao-sw{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #fff;
	font-size: 1.25rem;
	padding: 0 0 0 0.35rem;
	height: 1.67rem;
	line-height: 1.67rem;
	margin-top: 0;
	border: none;
}
#toutiao-sw .swiper-slide {
	border: none;
}
#toutiao-sw .swiper-slide a{
	color: #FFFFFF;
	display: block;
	width: 100%;
	height: 100%;
}
.swiper-container-hide {
	max-height: 0;
	margin-top: 0;
	border-bottom: none;
}
.swiper-container ul.swiper-wrapper {
	margin-bottom: 2.083rem;
}
.swiper-slide {
	border:0.16rem solid #a3a2a2;
	box-sizing: border-box;
	// min-height: 7rem;
	// min-width: 7rem;
	// float: left;
}
.active {
	border-color:#22a7f0; 
}
.swiper-wrapper > li img {
	display: block;
	/*width: 95%;*/
	max-width: 8.25rem;
	max-height: 8.25rem;
	margin:0 auto;
}
.swiper-slide .text-over {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	padding: 0.2rem 0.4rem;
	background: rgba(0,0,0,.6);
	color: #fff;
	font-size: 1rem;
	text-align: center;
}
.swiper-container ul.swiper-wrapper {
	visibility: hidden;
}
.base-addr {
	margin-right: -4.2%;
	height: 9.6%;
	overflow: hidden;
	box-sizing: border-box;
}
.scene-addr {
	height: 37.19%;
	height: 5.5rem;
	/*padding: 0.4rem 0;*/
	padding: 1.5% 0 1.5% 4.2%;
	box-sizing: border-box;
	width: 100%;
}

.base-addr >div {
	overflow: hidden;
	// border-right: 0.04rem solid #ced2d3;
	padding-right: 0.4rem;
	position: relative;
}
.scene-addr >div{
	height: 100%;
	/*margin-top: 10%;*/
}
.base-addr >div h5 {
	height: 2.578rem;
    font-size: 1.48rem;
    font-weight: bold;
    color: #333333;
    // line-height: 1.5;
    /* margin-bottom: 0.5rem; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
.base-addr >div p {
	font-size: 1.067rem;
    /* height: 1.3rem; */
    color: #858585;
    padding: 0.15rem 1rem 0.2rem 1.5rem;
    background: url(../images/addr-point.png) no-repeat left center;
    background-size: auto 1.244rem;
    line-height: 1;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    // bottom: 0.1rem;
}
.scene-addr >button {
	height: 0%;
}
.by-car-btn {
	width: 19.76%;
    display: block;
    background: url(../images/goto.png) no-repeat center 0.5rem / 1.5rem auto;
    padding-top: 2.37rem;
    font-size: 1.25rem;
    font-size: 1rem;
    color: #858585;
    text-align: center;
    border-left: 0.04rem solid #ced2d3;
    margin: 0.4rem 0;
}
.cn-button {
	position: absolute;
	width: 12%;
	height: 9%;
	top: 61.2%;
	border-top-left-radius: 2.4rem;
	border-bottom-left-radius: 2.4rem;
	right: 0px;
	cursor: pointer;
	z-index: 11;
	background: #37a0eb url(../images/manu-icon.png) no-repeat 65% center / 37.8% auto;
	outline: none;
	border:none;
}
.bus-cir-img {
    display: block;
    // width: auto;
    // height: 100%;
    width: 4.148rem;
    height: 4.148rem;
    margin-right: 3.34%;
    margin-right: 0.889rem;
}
#shop-list {
	margin-top: 0;
}
.swiper-container ul.swiper-wrapper {
	// margin-bottom: 0.9rem;
	margin-top: 0.8rem;
	transition: all 0.5s ease;
}
#scenes-list {
	margin-top: 0;
	// height: 44.83%;
	max-height: 8.267rem;
	min-height: 7rem;
	overflow: hidden;
	transition: height 0.5s ease;
	overflow: hidden;
}
#scenes-list ul.swiper-wrapper {
	margin-bottom: 0.2rem;
}
.line {
	margin: 0 -4.3%;
	height: 1px;
	border-bottom: 0.04rem solid #d4d3d1;
}
.bottom-top{
	padding: 0.474rem 4.2% 0.652rem;
	/*height: 62.4%;*/
	box-sizing: border-box;
	position: relative;
}
.pano-bg-box {
	position: absolute;
	top: 0;
	width: 100%;
	height: 8.78%;
	background: url(../images/pano-top-bg.png) repeat-x;
	background-size: auto 100%;
}
.bottom-scene{
	padding: 0 4.2% 0.5rem;
	/*height: 62.4%;*/
	box-sizing: border-box;
	position: relative;
	transition:all 0.6s ease;
	// height: 8.5rem;
}


.detail-box {
	 transition:all 1s ease;
	 height: 30rem;
	 display: none;
}
.bottom-scene-hide {
	height: 0;
}
.del-content {
	padding: 0 1.659rem 0 1.541rem;
	max-height: 27rem;
    overflow: auto;
    margin-top: 1.452rem;
   margin-bottom: 1.452rem;

}
.del-title{
	font-size: 1.185rem;
	margin-bottom: 0.6rem;
	color: #333333;
	font-weight: bold;
}
.del-content p{
	font-size: 1.185rem;
	line-height:2rem;
	color: #222222; 
}
.manu-box-r {
	position: absolute;
	// top: 31.34%;
	top: 26%;
	right: 0;
	width: 4.356rem;
	z-index: 99;
	transition:all 0.6s ease;
	transform:translateX(5rem);
} 
.manu-box-r ul{
	background: #36343f;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.manu-box-r ul>li {
	height: 4.948rem;
	padding: 0.919rem 0.533rem 0.919rem 0.711rem;
	box-sizing: border-box;
	border-bottom: 0.04rem solid #26252c;
}
.manu-box-r ul>li:last-child{
	border-bottom: none;
}
.manu-box-r ul a{
	display: block;
}
.manu-show-vr {
	position: absolute;
	top: 31.34%;
	right: 0;
	width: 3.970rem;
	z-index: 100;
	margin-top: 5rem;
	transition:all 0.6s ease;
}
.manu-show-vr-hide {
	transform:translateX(5rem);
}
.manu-box-r-show{
	transform:translateX(0);
}



/*-----景点--*/
.spot-line {
	width: 100%;
	margin: 0;
}
.scenic-spot-bottom {
	height: 54.5%;
	z-index: 99;
	transition: all 0.8s ease;
}
.scenic-show-all {
	height: 74.5%;
}
.scenic-half-height {
	height: 54.5%;
}
.scenic-short-height {
	height: 25%;
}
.scenic-spot-addr>h5 {
	font-size: 1.75rem;
	font-weight: 700;
	color: #333333;
	line-height: 1.5;
	margin-bottom: 0.5rem;
}
#scenic-spot-list {
	padding: 0.3rem 0;
	margin-top: 0;
}
.swiper-container  ul.scenic-spot-sw-list {
	margin-bottom: 0.4rem;
}
.scenic-spot-detial {
	height: 54%;
	border-bottom: 0.75rem solid #ededec;
	background: rgba(255,255,255,.96);
	padding: 1.5rem 4.2%;
	font-size: 1.25rem;
	box-sizing: border-box;
	transition: all 0.8s  ease;
}
.scenic-show-all .scenic-spot-detial {
	height: 66%;
}
.hide-detial {
	height: 0;
	border: none;
	padding: 0;
	overflow: hidden;
}
.scenic-spot-detial b{
	padding-bottom: 0.5rem;
	display: block;
}
.scenic-spot-detial p{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient: vertical;
	line-height: 1.5;
}
.scenic-show-all .scenic-spot-detial p {
	-webkit-line-clamp: inherit;
	overflow: auto;
	/*height: 15rem;*/
	height: 70%;
	transition: all 0.8s  ease;
}
.show-all-btn,
.show-all-inf-btn{
	display: block;
	width: 100%;
	font-size: 1.25rem;
	color: #8a8a8a;
	text-align: center;
	margin-top: 2rem;
}
.show-all-btn {
	margin-top: 1.5rem;
}
.show-all-btn img ,
.show-all-inf-btn img{
	height: 0.6rem;
	width: auto;
	margin-top: 0.55rem;
	margin-left: 0.5rem;
	transition: all 1s ease;
}
.showed img{
	transform: rotate(180deg);
}

.swiper-box {
	padding: 0 4.2%;
}
.scenic-area-list .active ,
.scenic-spot-sw-list .active {
	border: 0.16rem solid #37a0eb;
}
.spot-back-btn {
    width: 2.45rem;
    height: 2.25rem;
    background: url(../images/sport-back.png) no-repeat center /auto 100%;
    float: right;
    position: absolute;
    right: 4%;
    /* margin-top: -0.2rem; */
    top: 1.3rem;
}

/*-----------toutiao----------*/
.base-high-bottom {
	height: 77.15%;
	overflow: hidden;
	z-index: 999;
	transition: all 1s ease;
}
.base-high-bottom-box {
	/*border-top: 1px solid #cccbcb;*/
	background: #fff;
	height: 84.8%;
	overflow: auto;
	box-sizing: border-box;
	border-radius: 0;
	transition: all 0.6s ease;
}
.base-high-bottom h2 {
	padding-top: 2%;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	color: #303131;
	padding-bottom: 3%;
	border-bottom: 0.04rem solid #e8e9e9;
}
.base-high-addr {
	/*height: 12.6%;*/
	// height: 5.5rem;
	/*padding: 0.5% 0;*/
	padding: 0 0 1.5% 4.2%;
	width: 100%;
}

.headlines-list li{
	padding-top: 1rem;
	padding-left: 2.53%;
	box-sizing: border-box;
	width: 100%;
}
.headlines-list li a{
	/*display: block;*/
	width: 100%;
	height: 100%;
}
.headlines-list li a>img {
    width: 7.5rem;
    height: 7.5rem;
    display: block;
    max-height: 11.5rem;
    margin-right: 2.53%;
    padding-bottom: 1rem;
}
.headlines-list li a>div {
	border-bottom: 0.04rem solid #eaeef5;
	/*padding-bottom: 1.25rem;*/
}
.headlines-detail {
    width: 85.3%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.headlines-detail>h5 {
	font-size: 1.4rem;
	color: #454545;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin-top: -0.1rem;
	margin-right: 0.1rem;
}
.activity-detail>h5 {
	margin-bottom: 0.5rem;
}
.headlines-link {
	display: block;
    font-size: 1rem;
    color: #93a0af;
    background: url(../images/link-img.png) no-repeat left center/auto 1rem;
    padding-left: 2rem;
    margin: 1.3rem 0 1rem;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}

.headlines-link span {
	padding-left: 20%;
}
.headlines-time,
.activity-time {
    font-size: 1.125rem;
    color: #73777b;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: absolute;
    bottom: 0.9rem;
    margin-right: 0.1rem;
}
.activity-time {
	 -webkit-line-clamp: 3;
	 position: relative;
	 bottom: auto;
}
.headlines-more {
	width:12.6%;
	display: block;
	height: 7.5rem;
	background: url(../images/tourtiao-more.png) no-repeat center/25% auto;
}

/*scenic-inf---*/
.scenic-inf-box >div {
	padding: 2rem 4.2% 1.5rem;
	border-bottom: 0.75rem solid #ededed;
}
.inf-base-tip {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}
.inf-base-tip-last {
	margin-bottom: 0;
}
.inf-base-tip>img{
	width: 1.5rem;
	height: 1.5rem;
	padding-right: 1rem;
	vertical-align: text-bottom;
}
.inf-base-tip b{
	padding-right: 0.4rem;
}
.inf-title ,
.activity-section >h5 {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.inf-detial {
	font-size: 1.25rem;
	line-height: 1.5;
}
.scenic-introduction {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	transition: all 0.6ss ease;
	/*height: 5.5rem;*/
}
.inf-showed {
	height: auto;
	overflow: initial;
	-webkit-line-clamp: auto;
	display: block;
}

/*--activity-content-----------*/
.activity-head {
	position: absolute;
	width: 100%;
	top: 0;
}
.activity-inf-box .activity-section {
	padding: 2rem 4.2% 1.5rem;
}
.activity-gr-line {
	background: #f7f9fb;
	height: 0.75rem;
	width: 100%;
	border-bottom:0.04rem solid  #e9e9e9;
}
.activity-section>p{
	-webkit-line-clamp: auto;
	font-size: 1.25rem;
	line-height: 1.5;
}
#other-activity-list .swiper-slide {
	border: none;
}
#other-activity-list p{
	text-align: center;
	font-size: 1rem;
	color: #333333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#other-activity-list img {
	border-radius: 4px;
}
.inf-base-tip .line-more {
	width: auto;
	float: right;
	height: 1.25rem;
	margin-top: 0.4rem;
}
/*modal*/
.activity-modal {
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.ac-modal-conetent{
	width: 92%;
	margin: 20% auto 0;
}
.ac-modal-box {
	background: #fff;
	border-radius: 0.4rem;
}
.ac-modal-head {
	padding: 1.5rem 3% ;
	border-bottom: 0.04rem solid #e7e7e7;
	font-size: 1.5rem;
	color: #333333;
}
.ac-moal-detial {
	padding: 0.75rem 3%;
}
.ac-moal-detial>h5 {
	font-weight: bold;
	font-size: 1.25rem;
}
.ac-moal-detial>p{
	font-size: 1rem;
	color: #666666;
}
.ac-moal-detial .last-ac-de-row {
	margin-bottom: 2.25rem;
}
.ac-close-btn {
	display: block;
	width: 10%;
	height: 5rem;
	background: url(../images/modal-ac-close.png) no-repeat center;
	background-size: 100% auto;
	margin: 1rem auto 0;
}

/*共用所有模块*/
.base-high-bottom,
.businessmen-box,
.activity-box,
.headlines-show-box,
.public-box,
.theme-box {
	display: none;
}
/*主题推荐*/
.show-part {
	display: block;
}


/*headlines-----*/
.headlines-page-body {
	background: #f6f8fa;
}
.headlines-head {
	position: relative;
	z-index: 9;
	height: 5.5rem;
	padding: 2rem 3% 1rem;
	box-sizing: border-box;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	background: #fff;
}
.headlines-hd-back,
.public-head>button  {
	display: block;
	float:left;
	width: 1.25rem;
	height: 2.33rem;
	background: url(../images/hd-back.png) no-repeat left center/100% auto;
}
.headlines-hd-more {
	display: block;
	width: 1.25rem;
	height: 2.33rem;
	background: url(../images/hd-more.png) no-repeat left center/100% auto;
	float: right;
}
.headlines-body {
	padding: 2.125rem 3%;
	box-sizing: border-box;
}
.headlines-body >h1 {
	font-size: 2.08rem;
	color: #333333;
	text-align: center;
}
.headlines-body >h5 {
	font-size: 1.458rem;
	color: #999999;
	text-align: center;
	margin-top: 1rem;
}
.headlines-body>img {
	display: block;
	width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 1.25rem;
}
.headlines-body>p {
	font-size:1.25rem ;
	color: #333333;
	text-indent: 2em;
	line-height: 1.5;
	margin-bottom: 0.5rem;
}
.headlines-body>p >img{
	display: block;
	width: 100%;
}
.headlines-body>p:last-of-type {
	margin-bottom: 2rem;
}
.turijian-read-box h5 {
	font-size: 1.5rem;
	color: #333333;
	border-left: 0.2rem solid #2f9eee;
	line-height: 1.1;
	padding-left: 0.4rem;
	margin-bottom: 1rem;
}
.turijian-read-list li{
	border-top: 0.04rem solid #dadada;
	padding: 0.4rem 0;
}
.turijian-read-list li a>img {
	display: block;
	width: 31.5%;
	max-width: 14rem;
	max-height: 7rem;
	margin-right: 3%;
}
.read-right-box {
	position: relative;
}
.read-right-box >p {
	font-size: 1.25rem;
	color:#333333 ;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
}
.read-right-box >span {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	font-size:1rem ;
	color: #999999;
	text-align: right;
}


/*public-----------*/
.public-head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5.5rem;
	z-index: 9;
	padding: 2rem 3% 1rem;
	box-sizing: border-box;
	/*box-shadow: 0 2px 3px rgba(0,0,0,.2);*/
	background: rgba(255,255,255,.9);
	border-bottom: 0.04rem solid #cacaca;
}
.public-head >p{
	text-align: center;
	font-size: 2rem;
	color: #333333  ;
}
.public-body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.public-bottom  {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	height: 4.25rem;
	height: 3.8rem;
	border-top: 0.04rem solid #e1e1e1;
	z-index: 999;
	padding: 0.35rem 0;
	box-sizing: border-box;
	padding-right: 1rem;
}
.disability{
	background: url(../images/disability.png) no-repeat center/auto 100%;
}
.hospital{
	background: url(../images/hospital.png) no-repeat center/auto 100%;
}
.parking{
	background: url(../images/parking.png) no-repeat center/auto 100%;
}
.toilet{
	background: url(../images/toilet.png) no-repeat center/auto 100%;
}
.public-bottom >div.active:nth-child(1){
	background: url(../images/disability-ac.png) no-repeat center/auto 100%;
}
.public-bottom >div.active:nth-child(2){
	background: url(../images/hospital-ac.png) no-repeat center/auto 100%;
}
.public-bottom >div.active:nth-child(3){
	background: url(../images/parking-ac.png) no-repeat center/auto 100%;
}
.public-bottom >div.active:nth-child(4){
	background: url(../images/toilet-ac.png) no-repeat center/auto 100%;
}
.left-top-box ,
.left-bottom-box{
	position: absolute;
	width: 9.8%;
	left: 3%;
	top: 3.5rem;
}
.left-top-box img,
.left-bottom-box img,
.right-bottom-box img {
	display: block;
	width: 100%;
	max-height: 4.5rem;
}
.left-top-box img:first-child ,
.left-bottom-box img:first-child {
	margin-bottom: 0.67rem;
}
.left-bottom-box {
	bottom: 6.75rem;
	top: auto;
}
.right-bottom-box {
	position: absolute;
	right: 0;
	bottom: 5.867rem;
	width: 6rem;
}
.right-bottom-box ul {
	background: rgba(54,52,63,.9);
	border-top-left-radius: 1.156rem;
	border-bottom-left-radius: 1.156rem;
	padding: 0.119rem 0 0.119rem ;
}
.right-bottom-box ul>li {
	border-bottom: 0.04rem solid #1d1c23;
	padding-top: 0.593rem;
	padding-left: 0.77rem;
	padding-bottom: 0.711rem;
}
.right-bottom-box ul>li:last-child {
	border-bottom: none;
}
.right-bottom-box ul>li img {
	display: block;
	height: 1.393rem;
	width: auto;
	margin-right: 0.2rem;
	float: left;
}
.right-bottom-box ul>li span{
	display: block;
	float: left;
	color: #ffffff;
	font-size: 0.75rem;
	transform:scale(0.9)
}



.CodeMirror-cursor {
	display: none;
}
/*tuijianshangjia---------------*/
.businessmen-head {
	border-bottom: 0.04rem solid #ced0d1;
	padding: 0.444rem 7% 0.622rem;
}
.businessmen-head>div {
	flex: 1;
	height: 2.13rem;
	box-sizing: border-box;
	background: #f4f4f4 url(../images/bus-search.png) no-repeat 0.74rem center/auto 1.13rem;
	border-radius: 0.2rem;
	padding-left: 2.1rem;
}
.businessmen-head>div input {
	display: block;
	width: 100%;
	height: 2.13rem;
	line-height: 2.13rem;
	font-size: 1rem;
	padding-left: 0.1rem;
	background: none;
	border:none;
}
.bus-sel-grp {
	border-bottom: 0.04rem solid #ebebec;
	padding: 0 7%;
	height:3.348rem;
	box-sizing: border-box;
}
.bus-sel-grp>li {
	color: #8e8e8e;
	border: none;
	/*margin-right: 1rem;*/
	line-height: 1;
	font-size: 1rem;
	padding:1.156em 1rem 1.156em 0;
	background: url(../images/bus-arrow-down.png) no-repeat right center/auto 0.267rem;
}
.bus-sel-grp>li.active {
	color: #fb6f73;
	background: url(../images/bus-arrow-up.png) no-repeat right center/auto 0.267rem;
}
.food-btn {
	margin-right: 18.16%;
}
.near-btn {
	margin-right: 13.95%;
}
.sort-btn {
	margin-right: 13.73%;
}
.select-show-box {
	position: absolute;
	/*top: 13.57rem;*/
	top: 10.3rem;
	width: 100%;
	bottom: 0;
	background: rgba(0,0,0,.5);
	z-index: 99;
}
.select-show-box,
.select-show-box>div {
	display: none;
}
.food-box,
.select-show-box>div ,
.food-box >div{
	/*overflow: auto;*/
	height: 100%;
}
.food-box >div div,
.sort-box,
.near-box {
	overflow: auto;
	height: 100%;
}
.foodbox-left ,
.nearbox-left {
	width: 50%;
	float: left;
	background: #f0f0f0;
}
.foodbox-left-list li ,
.nearbox-left li{
	height: 3.467rem;
	line-height: 3.467rem;
	padding-left: 1.185rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.1rem;
	color: #000000;
}
.foodbox-left-list li.active ,
.nearbox-left li.active {
	background: #fff;
}
.foodbox-right,
.nearbox-right {
	background: #fff;
	padding-left: 1.185rem;
	box-sizing: border-box;
	width: 50%;
	float: left;
}

.foodbox-right-list >li ,
.nearbox-right>li {
	/*background: #fff;*/
	height: 3.46rem;
	line-height: 3.46rem;
	box-sizing: border-box;
	border-bottom: 0.04rem solid #e9e9e9;
}
.foodbox-right-list>li:last-child ,
.nearbox-right>li:last-child {
	border-bottom: none;
}
.nearbox-right>li.active,
.sort-list>li.active {
	border-bottom-color: #fe5759;
	background: url(../images/bus-sel.png) no-repeat 84.86% center;
	background-size: 1.067rem auto;
	color: #fe585a;
}

.sort-list {
	padding-left: 1.126rem;
	background: #fff;
}
.sort-list>li {
	height:3.319rem;
	line-height:3.319rem;
	border-bottom: 0.04rem solid #eeeeee;
    font-size: 1.1rem;
    color:#000;
    padding-right: 1.126rem;
}
.sort-list>li.active {
	background: url(../images/bus-sel.png) no-repeat 92.82% center;
	background-size: 1.067rem auto;
}
.filter-box>div {
	height: 100%;
	overflow: auto;
}
.filter-list-box {
	background: #fff;
	padding: 0.83rem 4.2% 0.01rem;
}
.filter-list-box >h5 {
	margin:1.274rem 0 0.919rem;
	margin:0.44rem 0 0.919rem;
	color: #8e8e8e;
	font-size: 1.04rem;
}
.filter-list-box ul li {
	float: left;
	width: 22.94%;
	height: 3.11rem;
	border: 0.04rem solid #b2bac4;
	border-radius: 0.2rem;
	color: #000;
	text-align: center;
	line-height: 3.11rem;
	margin-right: 1.9%;
	margin-bottom: 0.83rem;
}
.filter-list-box ul li.active {
	border-color: #fe6061;
	background: #fe6061;
	color: #fff;
}
.filter-list-box ul li:nth-child(4n) {
	margin-right: 0;
}
.sel-price-list {
	margin-bottom: 2.6rem;
}
.bus-sel-btngrp-box {
	height: 3.78rem;
	background: #fff;
	color: #fff;
}
.bus-sel-btngrp-box button{
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
}
.bus-sel-reset {
	border: 0.04rem solid #f0f0f0;
	color: #fe6061;
}
.bus-sel-confirm {
	background: #fe6061;
	color: #fff;
}

	/*列表*/
.businessmen-list {
	background: #f2f2f6;
	padding: 0 0 0.1rem;
}
.businessmen-list>li {
	margin-bottom: 0.42rem;
	background: #fff;
	padding: 1.185rem 3.6% 0.563rem;
}
/*.businessmen-list>li  .bus-list-infbox h5{
	font-size: 1.3rem;
}*/
.businessmen-list>li p.caixi{
	font-size: 1.1rem;
}
div.jq-ry-container{
	padding-left: 0px;
}
.businessmen-list>li>a {
	position: relative;
}
.businessmen-img {
    display: block;
    width: 5.6rem;
    height: 5.6rem;
    margin-right: 0.83rem;
}
.bus-list-infbox {
	flex: 1;
	overflow: hidden;
}
.bus-list-infbox h5 {
    font-size: 1.22rem;
    color: #313130;
    width: 100%;
    margin-bottom: 0.92rem;
    line-height: 1.2;
}
.renjun {
	font-size:1rem;
	color: #8e8e8e;
	margin-bottom: 1.067rem;
	line-height: 1.1;
}
.renjun>em{
	color: #ff6e4a;
	padding-right: 0.355rem;
}
.renjun>img {
	width: 0.766rem;
	height: 0.919rem;
	padding-right: 0.2rem;
}
.renjun>img:last-of-type{
	padding-right: 0.83rem;
}

.caixi,
.quan,
.quan a,
.manjian {
	color: #8e8e8e;
	font-size: 1rem;
	margin-bottom: 0.859rem;
	line-height: 1.2rem;
}
.caixi {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*line-height: 1;*/
}
 .quan img ,
 .manjian img{
	width: 1.2rem;
	height: 1.2rem;
	padding-right: 0.44rem;
}
.rest-box {
	width: 11.9%;
	margin-left: 1.5%;
}
.rest-box >img {
	margin-top: 2.2rem;
	height: auto;
}
.quanyi {
	position: absolute;
	right: -1rem;
	top: -1.6rem;
	width: 10%;
	height: auto;
}

/*时下特惠offer-list*/
.offer-list {
	width: 32rem;
    max-width: 100%;
	padding: 0.77rem 1.244rem 1.25rem;
	box-sizing: border-box;
}
.offer-list >li{
	box-sizing: border-box;
	width: 29.5rem;
	max-width: 100%;
	height: 6.34rem;
	background: url(../images/offer-quan-bg.png) no-repeat center;
	background-size:100% 100%;
	padding: 0.88rem 0 0.88rem 0.88rem;
	margin-bottom: 0.83rem;
}
.offer-ls-img {
	display: block;
	width: 6.163rem;
	max-width: 20.9%;
	height: 4.65rem;
	/*max-width: 20.86%;
    max-height: 72.9%;	*/
}
.offer-ls-name {
	width: 14.43rem;
	height: 4.65rem;
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 0.919rem;
	padding-right: 0.4rem;
}
.offer-ls-name>h5 {
	height: 2.133rem;
	font-size: 1.25rem;
	color: #383736;
	line-height: 2.133rem;
}
.offer-ls-name>p {
	height: 2.489rem;
	font-size: 1.1rem;
	color: #fc7b7f;
	line-height: 2.5rem;
	overflow: hidden;
}
.offer-ls-name>p span {
	font-size: 1.7rem;
}
.offer-ls-name>p em {
	color: #a2a1a1;
	padding-left: 0.59rem;
}
.offer-ls-lingqu {
	width: 8.03rem;
	max-width: 27.7%;
	height: 4.65rem;
	overflow: hidden;
	text-align: center;
}
.offer-ls-lingqu h5 {
	/*height: 2.667rem;
	line-height: 2.667rem;*/
    height: 4.6rem;
    line-height: 4.6rem;
	font-size: 1.5rem;
	color: #fc7b7f;
}
/*.offer-ls-lingqu>p {
	height: 1.99rem;
	line-height: 1.8rem;
	color: #fcafb0;
	font-size: 1.07rem;
}*/




/*-------right manu----------------------------------*/
.component {
	position: absolute;
	right: 0;
	width: 12%;
	height: 9%;
	top: 61.2%;
}
.manu-list {
	position: absolute;
	width: 0;
	height: 37.83%;
	overflow: hidden;
	z-index: 10;
	right: 0rem;
	top: 45%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s  ease;
}
.manu-list >ul {
	background:url(../images/manu-bg.png) no-repeat right top;
	background-size:100% 100%;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transform: scale(0.01);
	-ms-transform: scale(0.01);
	-moz-transform: scale(0.01);
	transform: scale(0.01) translateX(800px);
	transform-origin:(right,center):
	pointer-events: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s 0.3s ease;
	transition: all .3s  ease;
}
.opened-nav >ul {
	overflow: hidden;
	pointer-events: auto;
	display: block;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1) translateX(0);
	transform-origin:(right,center):
}
.manu-list >ul li {
	/*display: inline;*/
	position: absolute;
	width: 38.9%;
	height: auto;
}
.manu-list >ul >li img {
	display: block;
	width: 100%;
	height: auto;
}
.manu-list >ul li:nth-child(1) {
	left: 47.2%;
	top: 10%;
}
.manu-list >ul li:nth-child(2) {
	left: 13.5%;
	top: 30.2%;
}
.manu-list >ul li:nth-child(3) {
	left: 12.86%;
	top: 54%;
}
.manu-list >ul li:nth-child(4) {
	left:47.27%;
	top: 73.42%;
}
/*.manu-list >ul li:nth-child(5) {
	left: 55%;
	top: 76%;
}*/
button.active {
	background: #37a0eb url(../images/manu-close.png) no-repeat 65% center / 62.8% auto;
	/*border: 0.08rem solid #21608d;*/
	border-right: none;
}
/*map window*/
.amap-info {
	border-radius: 0.16rem;
	
}
.info {
    border: solid 1px silver;
    background: rgba(255,255,255,.9);
    border: 0.08rem solid #ececec;
    width: 24.711rem;
    height: 13.156rem;
    box-shadow: 0 3px 18px rgba(54,54,54,0.13);
	border-radius: 8px;
	// padding: 1.15rem 1rem;
	box-sizing: border-box;
	// position: relative;
	/*position: absolute;*/
	/*top: -17.5rem;*/
	/*left:3rem;*/
}
.win-title{
	height: 2.963rem;
	border-bottom: 0.08rem solid #ececec;
	box-sizing: border-box;
}
.win-title>h5{
	padding-left: 0.770rem;
	color: #151515;
	font-size: 1.185rem;
	line-height: 2.963rem;
}
.window-close {
	width: 0.859rem;
	height: 0.859rem;
	margin-top: 1.185rem;
	margin-right: 1.274rem;
	margin-left: 1rem;
}
.win-content {
	padding: 1.3rem 1.511rem 1.3rem 1.126rem;
	box-sizing: border-box;
}
.name-img {
	width: 7.378rem;
	height: 7.378rem;
	box-shadow: 0 4px 24px rgba(0,0,0,0.09);
	margin-right: 1.481rem;
}
.window-inf-box>p{
	height: 5rem;
	overflow: hidden;
	font-size: 1rem;
	color: #787878;
	line-height: 1.304rem;
	margin-top: -0.15rem;
	text-align: justify;
	margin-bottom: 0.652rem;
}
.btn-grp>a {
	display: block;
	width: 5.867rem;
	height: 1.867rem;
	float: right;
}
.btn-grp>a:first-child {
	margin-right: 1.3rem;
	float: left;
}
// .map-close{
//     width: 12px;
//     height: auto;
//     position: absolute;
//     top: ;
// }
// .info-top>img {
// 	display: block;
// 	width: 4.948rem;
// 	height: 4.948rem;
// }
// .info-top-right {
// 	padding-left: 0.8rem;
//     overflow: hidden;
// }
// .info-top-right h5{
// 	height: 2.13rem;
// 	line-height: 1.54rem;
// 	font-size:1.125rem ;
// 	color: #000000;
// }
// .info-top-right >h5 img{
// 	display:inline-block;
// 	width: 1.25rem;
// 	height: 1.25rem;
// 	padding-top: 0.1rem;
// }
.map-renjun {
	/*height: 1.748rem;*/
	height: 1.5rem;
	line-height: 1.2;
}
.map-renjun span:first-child {
	padding-right: 0.415rem;
}
.map-renjun span:last-child {
	padding-left: 0.74rem;
}
.map-renjun img{
	width: 0.7rem;
	height: 0.88rem;
	padding-right: 0.148rem;
}
.info-bottom {
	padding-top: 0.5rem;
}
.map-add,
.info-bottom p,
.map-renjun{
	color: #787878;
	/*font-weight: bold;*/
	font-size: 0.88rem;
}
.info-bottom p {
	margin-bottom: 0.474rem;
}
.info-bottom p:last-child {
	margin-bottom: 0;
}
.info-bottom p>img{
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	padding-right: 0.326rem;
}
.info-bottom p>img.maidan-img {
	padding-left:1.42rem ;
	padding-right: 0.504rem;
	width: 3.79rem;
}
.half-right {
	padding-left: 5.748em;
}
.map-fire {
	color: #fd3217;
}
.map-arrow {
	position: absolute;display: block;width: 1.896rem;height: auto;left: 11.47rem;bottom: -1.5rem;
}


/*---hide loading--*/
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

/**
 *
 * 下拉样式 Pull down styles
 *
 */
#wrapper {
	position:absolute;
	z-index:1;
    /*top: 13.7rem;*/
    top: 10.5rem;
	bottom:0;
	left:0;
	width:100%;
	/*background:#555;*/
	overflow:auto;
}

#scroller {
	position:relative;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	padding:0;
}
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}


/*星级自定义样式覆盖原有*/
div.jq-ry-container {
	margin-top: -5px;
	display: inline-block;
	vertical-align: middle;
}
.start-box>span {
	padding-left: 0;
}


/*媒体*/
@media screen and (device-width: 320px) and (device-height: 480px) {
	.scenic-spot-bottom {
		height: 64.5%;
	}
	.scenic-show-all {
		height: 75%;
	}
	.scenic-half-height {
		height: 64.5%;
	}
	.scenic-short-height {
		height: 30.5%;
	}
	.scenic-show-all .scenic-spot-detial {
		height: 59%;
	}
	.btn-grp-l, .btn-grp-r {
		top: 10%;
	}
	.select-show-box {
		/*top: 13.48rem;*/
		top: 10.2rem;
	}
	.manu-show-vr {
		top: 23.34%
	}
	.detail-box{
		height: 21rem;
	}
	.del-content {
		max-height: 18rem;
	}
	.manu-box-r {
		top: 11%;
	}
}
@media screen and (device-width: 320px) and (device-height: 568px) {
	.scenic-spot-bottom {
		height: 56%;
	}
	.scenic-spot-detial {
		height: 54%;
	}
	.scenic-show-all {
		height: 71%;
	}
	.scenic-half-height {
		height: 56%;
	}
	.scenic-short-height {
		height: 26%;
	}
	.scenic-show-all .scenic-spot-detial {
		height: 63%;
	}
	.bus-list-infbox >h5 {
	    margin-bottom: 0.5rem;
	}
	.start-box {
		margin-bottom: 0.5rem;
	}
	.select-show-box {
		/*top: 13.42rem;*/
		top: 10.2rem;
	}
	.info {
		left: 2rem
	}
	.manu-box-r {
		top: 22%;
	}	
	
}
@media screen and (device-width: 320px) {
	.activity-detail>h5 {
		margin-bottom: 1rem;
	}
	.headlines-detail {
		width: 87.3%;
	}
	.headlines-list {
		padding-bottom: 2rem;
	}
	.scenic-spot-detial {
		height: 52%;
	}
	.show-all {
		margin-top: 1rem;
	}
	header.headlines-head {
		height: 4rem;
		padding: 1rem 3% 1rem;
	}
	.base-high-addr {
		/*height: 6rem;*/
	}
	.base-addr >div p {
		background: url(../images/addr-point.png) no-repeat left center;
    	background-size: auto 1.3rem;
	}
	.headlines-link {
		margin: 1rem 0 1rem;
	}
	.offer-ls-img {
		height: 4.52rem;
	}
	.offer-list >li {
	    height: 5.64rem;
        padding: 0.5rem 0 0.5rem 0.88rem;
	}
	.info {
		left: 1rem
	}

	
	/*店铺选择*/
	.food-btn {
    margin-right: 15.86%;
	}
	.near-btn {
    	margin-right: 11.65%;
	}
	.sort-btn {
	    margin-right: 11.43%;
	}
	.filter-list-box ul li {
		width: 22.84%;
	}
	// .bottom-scene {
	// 	height: 7.5rem;
	// }
	.bottom-scene-hide {
		height: 0;
	}
	.bottom-scene {
		// height: 9rem;
	}
}
@media screen and (min-width:414px ) {
	.base-addr >div h5 {
		// margin-bottom: 0.3rem;
	}
.bottom-scene-hide {
		height: 0;
	}	

}

/*loading*/
.ui-loader {
	display: none;
}
.loading-box{
	display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 999;
}
.loading-box img{
	display: block;
	width: 30%;
	height: auto;
	position: absolute;
	 top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*隐藏所有控件*/
.head,.btn-grp-l,.btn-grp-r,.manu-list,#index-bottom,#cn-button {
	display: none;
}

/*店铺筛选地图*/
.filter-bottom {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	height: 3.79rem;
	padding: 0.5rem 0 0.4rem;
	box-sizing: border-box;
    background: #fff;
    border-top: 0.04rem solid #e1e1e1;
    z-index: 999;
}
.all {
	background: url(../images/all.png) no-repeat center/auto 100%;
}
.filter-bottom div:nth-child(1).active {
	background: url(../images/all-ac.png) no-repeat center/auto 100%;
}
.food {
	background: url(../images/food.png) no-repeat center/auto 100%;
}
.filter-bottom div:nth-child(2).active {
	background: url(../images/food-ac.png) no-repeat center/auto 100%;
}

.buy {
	background: url(../images/buy.png) no-repeat center/auto 100%;
}
.filter-bottom div:nth-child(3).active {
	background: url(../images/buy-ac.png) no-repeat center/auto 100%;
}

.server {
	background: url(../images/server.png) no-repeat center/auto 100%;
}
.filter-bottom div:nth-child(4).active {
	background: url(../images/server-ac.png) no-repeat center/auto 100%;
}

.right-middle-box {
	position: absolute;
	bottom: 19.67rem;
	right: 0;
	width: 6.02%;
	/*height: 8.38rem;*/
	z-index: 999;
}
.right-middle-box img{
	display: block;
	width: 100%;
	height: auto;
}



 


/*div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
}
div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
}
div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}
div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
}
div.info-middle {
    font-size: 12px;
    padding: 6px;
    line-height: 20px;
}
div.info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
}
div.info-bottom img {
    position: relative;
    z-index: 104;
}
span {
    margin-left: 5px;
    font-size: 11px;
}
.info-middle img {
    float: left;
    margin-right: 6px;
}