/*author:huhaitong
date:2017-8-2*/
.text-over {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.flex1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.clearfix {
	
}
.clearfix:before,
.clearfix:after {
	display: table;
  content: " ";
}
.clearfix:after {
	clear: both;
}
/*index*/


/*index end*/
.public-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3.733rem;
	background: #fff;
	z-index: 999;
	border-top: 0.04rem solid #e1e1e1;
	padding: 0.533rem 0;
	box-sizing: border-box;
}
.pub-bottom-ls{
	width: 79.3%;
	height: 100%;
	margin: 0 auto;
}
.pub-bottom-ls>li {
	height: 100%;
}
.pub-bottom-ls>li a{
	display: block;
	width: 100%;
	height: 100%;
}
.map-btn{
	background:url(../images/mn-map.png) no-repeat center center/auto 100%;
}
.tuijian-btn{
	background:url(../images/mn-tuijian.png) no-repeat center center/auto 100%;
}
.find-btn{
	background:url(../images/mn-find.png) no-repeat center center/auto 100%;
}
.active .map-btn{
	background:url(../images/mn-map-ac.png) no-repeat center center/auto 100%;
}
.active .tuijian-btn{
	background:url(../images/mn-tuijian-ac.png) no-repeat center center/auto 100%;
}
.active .find-btn{
	background:url(../images/mn-find-ac.png) no-repeat center center/auto 100%;
}

.manu-box-l {
	width: 2.489rem;
	position: absolute;
	left: 1.185rem;
	top: 1.807rem;
}
.collapse img{
	display: block;
	width: 2.489rem;
	height: 2.489rem;
	margin-bottom: 1rem;
}


/*animation*/

.manu-left-hide-animation {
		/*-webkit-animation:manu-left-hide 1s ease 1 alternate forwards;
		animation:manu-left-hide 1s ease 1 alternate forwards;*/
		display: none;
	}
.manu-left-show-animation {
		/*-webkit-animation:manu-left-show 1.2s ease  forwards;
		animation:manu-left-show 1.2s ease  forwards;*/
		display: block;
	}
.manu-left-hide-first {
	/*-webkit-animation:manu-left-hide-first 0 linear forwards;
		animation:manu-left-hide-first 0 linear forwards;*/
		display: none;
}
@keyframes manu-left-hide-first{
	0% {
	   opacity: 0;
	    -webkit-transform: scale(0.01) translate3d(-1000px, 4000px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(0.01) translate3d(-1600px, 4000px, 0px);
	    transform-origin: left top 0;
	}
	100% {
	    opacity: 0;
	    -webkit-transform: scale(0.01) translate3d(-1000px, 4000px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(0.01) translate3d(-1000px, 4000px, 0px);
	    transform-origin: left top 0;
	}
}
@keyframes manu-left-hide{
	40% {
	    opacity: 0.4;
	    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 100px, 0px);
	    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 300px, 0px);
	}
	100% {
	    opacity: 0;
	    -webkit-transform: scale(0.01) translate3d(-600px, 4000px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(0.01) translate3d(-600px,4000px, 0px);
	    transform-origin: left top 0;
	}
}
@keyframes manu-left-show{
	from {
		opacity: 0;
	    -webkit-transform: scale(0.01) translate3d(-1000px, 6000px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(0.01) translate3d(-1000px, 6000px, 0px);
	    transform-origin: left top 0;
	}
	60% {
	    opacity: .2;
	    -webkit-transform: scale3d(0.375, 0.375, 0.375) translate3d(50px, 600px, 0px);
	    transform: scale3d(0.375, 0.375, 0.375) translate3d(50px, 600px, 0px);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: scale(1) translate3d(0px, 0px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(1) translate3d(0px, 0px, 0px);
	    transform-origin: left top 0;
	}
}

/*modal*/
.modal-box ,
.modal-jishu-box{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.14);
	z-index: 10000;
	display: none;
	/*transform: translateX(600px);
	transition: all ease-in 0.6s;*/
}
.modal-show {
	transform: translateX(0);
}
.modal-b-content {
	/*width: 90%;*/
	width: 77.4%;
	/*background: #fff;*/
	border-radius: 0.65rem;
	margin: 10rem auto 0;
}
.modal-head {
	position: relative;
	height: 4.24rem;
	text-align: center;
	color: #333333;
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 4.24rem;
	/*background:linear-gradient(to bottom,#c8cbd0,#cfd0d2) ;*/
	background:rgba(255,255,255,0.72);
	border-top-right-radius:0.65rem ;
	border-top-left-radius:0.65rem ;
}
.close-modal,
.close-jishu-modal{
	width: 1.09rem;
	height: 1.09rem;
	position: absolute;
	top: 1.719rem;
	right: 1.48rem;
}
.modal-inf-box {
	padding: 3.11rem 2.04rem 3.55rem;
    height: 20.74rem;
    box-sizing: border-box;
    background: #fff;
    border-bottom-right-radius: 0.65rem; border-bottom-left-radius: 0.65rem;
}
.modal-inf-box p{
	color: #333;
	font-size: 1.18rem;
	line-height: 1.77rem;
	height: 100%;
	overflow: auto;
}
.modal-section-box {
	background: #fff;
	padding:2rem 1.77rem 1.125rem 1.77rem ;
}
.modal-section-box>img{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 1.185rem;
}
.modal-section-box>a{
	display: block;
	width: 37%;
	height: 2.9rem;
	margin: 0 auto;
	background: url(../images/call-btn-y.png) no-repeat center/100% auto;
}

a.back {
    background: url(../images/back-btn.png) no-repeat center center/1.4rem auto;
    /*margin-left: 1.333rem;*/
    width: 2.370rem;
    height: 2.370rem;
    display: block;
    z-index: 999999;
    position: absolute;
    left: 1.33rem;
    top: 1rem;
}
.zhengce-infor {
	font-size: 1rem;
	color: #333333;
	margin-bottom: 1.09rem;
}
.zhengce-infor img{
	display: inline-block;
	width: 1.06rem;
	height: 1.06rem;
	margin-right: 0.89rem;
	
}
.section-list .modal-section-box>a {
	background: url(../images/download-btn.png) no-repeat center/100% auto;;
}
.section-list .modal-section-box {
	padding-bottom: 0.6rem;
}
.section-list {
	height: 26.4rem;
	overflow: auto;
	    border-bottom-right-radius: 0.65rem;
    border-bottom-left-radius: 0.65rem;
}
.menu-link {
	position: absolute;width:100%;top: 50rem;display: block;
}
.menu-link img{
	display: block;width: 55.5%;margin: 0 auto;
}




/*media*/

@media screen and (device-width: 320px) {
	.pano-box >div{
		width: 21.7rem;
		height: 21.7rem;
		margin: 0 auto;
		background: rgba(255,255,255,.5);
		background-clip: content-box;
		border-radius: 50%;
		border: 1.126rem solid rgba(255,255,255,.22);
	
	}
	.pano-ls {
		padding: 10.8rem 0.5rem 0;
	}
	.pano-ls>li{
		/*width: 12.35rem;*/
		width: 100%;
		width: 20.7rem;
		position: absolute;
	}
	.manu-page-list {
		width: 25.5rem;
	}
	.img-radius-box {
		width: 4.5rem;
		height: 4.5rem;
	}
	.manu-page-list .active .manu-name {
		font-size: 0.75rem;
	}
	.manu-name {
		margin-top: 0.5rem;
	}
	.manu-page-list>li {
		margin-bottom: 1rem;
	}
	.modal-down-content{
		margin-top: 5rem;
	}
	.menu-link {
		top: 38rem;
	}
}
@media screen and (device-width: 320px) and (device-height: 480px) {
	.modal-b-content {
		margin-top: 6rem;
	}
	.manu-page-list-box {
		height: 58.4%;
	}
	.modal-down-content {
		margin-top: 4rem;
	}
	.menu-link {
		top: 33rem;
	}
}
@media screen and (device-width: 375px) {
	.menu-link {
		top: 45rem;
	}
}