*{
	margin:0;
	padding:0;
}

li{
	list-style: none;
}
/* 父级标签开始 */
.show{
	position: relative;
}
/* 父级标签结束 */
/* 主体开始 */
.book{
	width:10.8rem;
	height:16.30rem;
	overflow:hidden;
	/*background: #ccc;*/
}
#book-link{
	width:10.8rem;
	height:16.30rem;
}
.scroll-container {
	 overflow: scroll;
	 -webkit-overflow-scrolling: touch;
 }
#iframe_survey {
	height: 100%;
}

.scroll-container {
	height: 100%;
	width: 100%;
	overflow: scroll;
}
/* 主体结束 */

/* 底部开始 */
.footer{
	width:10.8rem;
	height:1.28rem;
	border-top: 0.01rem solid #e1e1e1;
	background: #fff;
	position:fixed;
	bottom:0;
	left:0;
	overflow: hidden;
}
	.footer ul{
		display: block;
		width:8.1rem;
		height:1.02rem;
		/*background:red;*/
		margin-left:1.2rem;
		margin-top:0.16rem;
	}
	.footer ul li{
		display: block;
		width:2.7rem; 
		height:100%;
		float:left;
		font-size:0.24rem;
	}
	.footer ul li img{
		display:block;
	}
	#mn-map{
		background:url(../images/mn-map.png) no-repeat center center/auto 100%;
	}
	#mn-tuijian{
		background:url(../images/mn-tuijian-ac.png) no-repeat center center/auto 100%;
	}
	#mn-find{
		background:url(../images/mn-find.png) no-repeat center center/auto 100%;
	}
/* 底部结束 */

